<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Details</title>
</head>
<body>
    <a href = "{%url 'superheroes:index' %}">Home</a>
    <ul>
        <h4>Superhero Name  - {{single_hero.name}}</h4>
        <h4>Superhero alter ego - {{single_hero.alter_ego}}</h4>
        <h4>Superhero Primary Ability  - {{single_hero.primary_ability}}</h4>
        <h4>Superhero Secondary Ability  - {{single_hero.secondary_ability}}</h4>
        <h4>Superhero Catch Phrase  - {{single_hero.catch_phrase}}</h4>
               
     </ul>
     <a href = "{%url 'superheroes:edit' single_hero.id %}">Edit Details</a>
       

    
</body>
</html>